In [ ]:
# Installs the selenium Web Driver

!pip install selenium bs4

Collecting selenium
  Downloading selenium-4.15.2-py3-none-any.whl (10.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 14.4 MB/s eta 0:00:00
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from selenium) (2.0.7)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.23.1-py3-none-any.whl (448 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 448.3/448.3 kB 21.1 MB/s eta 0:00:00
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from selenium) (2023.7.22)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: attrs>=20.1.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.1.3)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.5)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.7 MB/s eta 0:00:00
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=fac59bfdb08dfe31483fc81e65194d8701db2da7fd74a25d9a58dae03732b2a3
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: outcome, h11, wsproto, trio, bs4, trio-websocket, selenium
Successfully installed bs4-0.0.1 h11-0.14.0 outcome-1.3.0.post0 selenium-4.15.2 trio-0.23.1 trio-websocket-0.11.1 wsproto-1.2.0

In [ ]:
#UPdates all libraries to resolve dependencies
!apt-get update

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [624 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,203 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,010 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,277 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,430 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,473 kB]
Fetched 7,251 kB in 3s (2,794 kB/s)
Reading package lists... Done

In [ ]:
#Installing Chrome driver
!apt install chromium-chromedriver

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  apparmor chromium-browser libfuse3-3 liblzo2-2 libudev1 snapd squashfs-tools systemd-hwe-hwdb
  udev
Suggested packages:
  apparmor-profiles-extra apparmor-utils fuse3 zenity | kdialog
The following NEW packages will be installed:
  apparmor chromium-browser chromium-chromedriver libfuse3-3 liblzo2-2 snapd squashfs-tools
  systemd-hwe-hwdb udev
The following packages will be upgraded:
  libudev1
1 upgraded, 9 newly installed, 0 to remove and 9 not upgraded.
Need to get 26.4 MB of archives.
After this operation, 116 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 apparmor amd64 3.0.4-2ubuntu2.2 [595 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblzo2-2 amd64 2.10-2build3 [53.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 squashfs-tools amd64 1:4.5-3build1 [159 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libudev1 amd64 249.11-0ubuntu3.11 [78.0 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 udev amd64 249.11-0ubuntu3.11 [1,557 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfuse3-3 amd64 3.10.5-1build1 [81.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 snapd amd64 2.58+22.04.1 [23.8 MB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-browser amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [49.2 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 chromium-chromedriver amd64 1:85.0.4183.83-0ubuntu2.22.04.1 [2,308 B]
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 systemd-hwe-hwdb all 249.11.3 [2,908 B]
Fetched 26.4 MB in 2s (14.4 MB/s)
Preconfiguring packages ...
Selecting previously unselected package apparmor.
(Reading database ... 120880 files and directories currently installed.)
Preparing to unpack .../apparmor_3.0.4-2ubuntu2.2_amd64.deb ...
Unpacking apparmor (3.0.4-2ubuntu2.2) ...
Selecting previously unselected package liblzo2-2:amd64.
Preparing to unpack .../liblzo2-2_2.10-2build3_amd64.deb ...
Unpacking liblzo2-2:amd64 (2.10-2build3) ...
Selecting previously unselected package squashfs-tools.
Preparing to unpack .../squashfs-tools_1%3a4.5-3build1_amd64.deb ...
Unpacking squashfs-tools (1:4.5-3build1) ...
Preparing to unpack .../libudev1_249.11-0ubuntu3.11_amd64.deb ...
Unpacking libudev1:amd64 (249.11-0ubuntu3.11) over (249.11-0ubuntu3.10) ...
Setting up libudev1:amd64 (249.11-0ubuntu3.11) ...
Selecting previously unselected package udev.
(Reading database ... 121087 files and directories currently installed.)
Preparing to unpack .../udev_249.11-0ubuntu3.11_amd64.deb ...
Unpacking udev (249.11-0ubuntu3.11) ...
Selecting previously unselected package libfuse3-3:amd64.
Preparing to unpack .../libfuse3-3_3.10.5-1build1_amd64.deb ...
Unpacking libfuse3-3:amd64 (3.10.5-1build1) ...
Selecting previously unselected package snapd.
Preparing to unpack .../snapd_2.58+22.04.1_amd64.deb ...
Unpacking snapd (2.58+22.04.1) ...
Setting up apparmor (3.0.4-2ubuntu2.2) ...
Created symlink /etc/systemd/system/sysinit.target.wants/apparmor.service → /lib/systemd/system/apparmor.service.
Setting up liblzo2-2:amd64 (2.10-2build3) ...
Setting up squashfs-tools (1:4.5-3build1) ...
Setting up udev (249.11-0ubuntu3.11) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up libfuse3-3:amd64 (3.10.5-1build1) ...
Setting up snapd (2.58+22.04.1) ...
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.aa-prompt-listener.service → /lib/systemd/system/snapd.aa-prompt-listener.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.apparmor.service → /lib/systemd/system/snapd.apparmor.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.autoimport.service → /lib/systemd/system/snapd.autoimport.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.core-fixup.service → /lib/systemd/system/snapd.core-fixup.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.recovery-chooser-trigger.service → /lib/systemd/system/snapd.recovery-chooser-trigger.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Created symlink /etc/systemd/system/cloud-final.service.wants/snapd.seeded.service → /lib/systemd/system/snapd.seeded.service.
Unit /lib/systemd/system/snapd.seeded.service is added as a dependency to a non-existent unit cloud-final.service.
Created symlink /etc/systemd/system/multi-user.target.wants/snapd.service → /lib/systemd/system/snapd.service.
Created symlink /etc/systemd/system/timers.target.wants/snapd.snap-repair.timer → /lib/systemd/system/snapd.snap-repair.timer.
Created symlink /etc/systemd/system/sockets.target.wants/snapd.socket → /lib/systemd/system/snapd.socket.
Created symlink /etc/systemd/system/final.target.wants/snapd.system-shutdown.service → /lib/systemd/system/snapd.system-shutdown.service.
Selecting previously unselected package chromium-browser.
(Reading database ... 121320 files and directories currently installed.)
Preparing to unpack .../chromium-browser_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
=> Installing the chromium snap
==> Checking connectivity with the snap store
===> System doesn't have a working snapd, skipping
Unpacking chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_1%3a85.0.4183.83-0ubuntu2.22.04.1_amd64.deb ...
Unpacking chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Selecting previously unselected package systemd-hwe-hwdb.
Preparing to unpack .../systemd-hwe-hwdb_249.11.3_all.deb ...
Unpacking systemd-hwe-hwdb (249.11.3) ...
Setting up systemd-hwe-hwdb (249.11.3) ...
Setting up chromium-browser (1:85.0.4183.83-0ubuntu2.22.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (1:85.0.4183.83-0ubuntu2.22.04.1) ...
Processing triggers for udev (249.11-0ubuntu3.11) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for dbus (1.12.20-2ubuntu4.1) ...

In [ ]:
#Importing required Libraries
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#Adding options to run in Colab
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

In [ ]:
#Following code is used to extract multiple tables from a site using Beautifulsoup

site = 'https://ahdb.org.uk/cereals-oilseeds-markets'

In [ ]:
wd = webdriver.Chrome(options=options)
wd.get(site)

In [ ]:
html = wd.page_source

In [ ]:
df = pd.read_html(html)

In [ ]:
# 1st Table
df[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Your browser does not support scripts or has b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,of1 |,of1 |,of1 |,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,of,NaN,1,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,|,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"AGRICULTURAL CENSUS , 1995-96 TABLE 3:ESTIMATE...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,"AGRICULTURAL CENSUS , 1995-96","AGRICULTURAL CENSUS , 1995-96","AGRICULTURAL CENSUS , 1995-96","AGRICULTURAL CENSUS , 1995-96","AGRICULTURAL CENSUS , 1995-96",NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,TABLE 3:ESTIMATED AREA BY SIZE CLASSES AND LAN...,TABLE 3:ESTIMATED AREA BY SIZE CLASSES AND LAN...,TABLE 3:ESTIMATED AREA BY SIZE CLASSES AND LAN...,TABLE 3:ESTIMATED AREA BY SIZE CLASSES AND LAN...,TABLE 3:ESTIMATED AREA BY SIZE CLASSES AND LAN...,NaN,NaN,NaN
30,NaN,STATE : MAHARASHTRA,STATE : MAHARASHTRA,STATE : MAHARASHTRA,STATE : MAHARASHTRA,NaN,DISTRICT : THANE,DISTRICT : THANE,DISTRICT : THANE,SOCIAL GROUP : ALL SOCIAL GROUPS,SOCIAL GROUP : ALL SOCIAL GROUPS,NaN,NaN
31,NaN,NUMBER IN ABSOLUTE UNITS,NUMBER IN ABSOLUTE UNITS,NUMBER IN ABSOLUTE UNITS,NUMBER IN ABSOLUTE UNITS,NaN,AREA IN HECTARES,AREA IN HECTARES,AREA IN HECTARES,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,Total Holdings,Total Holdings,Net Area,Area Under Current,Net Cultivated,Other Uncultivated Land,Fallow Land Other than,Culturable Waste,Total Uncultivated,Land Not Available
33,NaN,Sl.No,Size Class(HA),NaN,NaN,Sown,Fallows,Area,Excluding Fallow Land,Current Fallows,Land,Land,for Cultivation
34,NaN,NaN,NaN,Number,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,(1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12)
36,NaN,1,Below 0.5,95531,21240,20119,145,20264,10,5,17,32,942
37,NaN,2,0.5 - 1.0,50220,36530,34267,313,34580,36,18,28,82,1865
38,NaN,NaN,MARGINAL,145751,57770,54386,458,54844,46,23,45,114,2807
39,NaN,3,1.0 - 2.0,54912,78764,72239,1474,73713,201,57,71,329,4716
40,NaN,NaN,SMALL,54912,78764,72239,1474,73713,201,57,71,329,4716
41,NaN,4,2.0 - 3.0,22949,55602,49976,1727,51703,193,66,37,296,3605
42,NaN,5,3.0 - 4.0,11563,39838,34742,1650,36392,227,65,28,320,3126
43,NaN,NaN,SEMIMEDIUM,34512,95440,84718,3377,88095,420,131,65,616,6731
44,NaN,6,4.0 - 5.0,6937,30905,26529,1479,28008,261,37,20,318,2575
45,NaN,7,5.0 - 7.5,8690,52512,43271,3305,46576,391,89,66,546,5391
46,NaN,8,7.5 - 10.0,3772,32315,25722,2683,28405,282,49,31,362,3547
47,NaN,NaN,MEDIUM,19399,115732,95522,7467,102989,934,175,117,1226,11513
48,NaN,9,10.0 - 20.0,3682,49050,36148,5629,41777,294,117,42,453,6817
49,NaN,10,20.0 & ABOVE,717,26289,19602,2694,22296,209,62,20,291,3701
50,NaN,NaN,LARGE,4399,75339,55750,8323,64073,503,179,62,744,10518
51,NaN,11,ALL CLASSES,258973,423045,362615,21099,383714,2104,565,360,3029,36285
52,NaN,Note: Total May not Tally Due to Rounding off,Note: Total May not Tally Due to Rounding off,Note: Total May not Tally Due to Rounding off,Note: Total May not Tally Due to Rounding off,Note: Total May not Tally Due to Rounding off,NaN,NaN,NaN,NaN,NaN,NaN,Neg:-Negligible
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#2nd Table
df[1]

  Paris (Euronext) Milling Wheat         €/tonne  Change since last update
0                         Dec 23  233.00 (-2.75)                       NaN
1                         Mar 24  237.25 (-3.00)                       NaN
2                         May 24  239.75 (-2.25)                       NaN
3                         Sep 24  237.00 (-1.50)                       NaN
4                         Dec 24  240.25 (-1.75)                       NaN
5                         Mar 25  242.50 (-1.25)                       NaN
6                         May 25  242.50 (-1.25)                       NaN
7                         Sep 25   235.25 (unch)                       NaN

In [ ]:
# Following Code extracts some data from a site: Census Data, after selecting few options from Drop down lists. The Site is similar to SERB PRISM site
#Extracting the values of Social Groups

import requests
from bs4 import BeautifulSoup

response=requests.get("https://agcensus.dacnet.nic.in/DistCharacteristic.aspx")
soup= BeautifulSoup(response.text,'html.parser')

groups=soup.find("select", attrs={"id":"_ctl0_ContentPlaceHolder1_ddlSocialGroup"}).find_all("option")

social_groups=[]
for grp in groups:
    social_groups.append(grp['value'])

################ Manually the values of Districts###################

districts=[9,15,17,7,8,16,14,18,20,6,19,21,10,3,4,13,12,5,11,2]

### IMPORTS

from selenium import webdriver

from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait

from selenium.webdriver.support import expected_conditions as EC

from bs4 import BeautifulSoup


# from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.support.select import Select
# import pandas as pd
# import requests

# DRIVER_PATH = "C/Users/Admin/Downloads/chromedriver_win32"
# driver = webdriver.Chrome(executable_path=DRIVER_PATH)

driver =wd

all_tables=[]
for social in social_groups:
    for district in districts:


        driver.get('https://agcensus.dacnet.nic.in/DistCharacteristic.aspx')


        select_element = Select(driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlYear"))  # Replace 'dropdown_id' with the actual ID of the dropdown element
        select_element.select_by_value("1995")  # Replace 'option_value' with the value of the option you want to select

        select_element = Select(driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlSocialGroup"))
        select_element.select_by_value(social)

        select_element = Select(driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlState"))
        select_element.select_by_value("11a")


        ######################
        ################Extracting the values of Districts###################

        # response=driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlDistrict")

        # district=response.get_attribute('option')

        # districts=[]
        # for grp in district:
        #     districts.append(grp.get_attribute('option'))
        ################################


        select_element = Select(driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlDistrict"))
        select_element.select_by_value(str(district))

        select_element = Select(driver.find_element("id","_ctl0_ContentPlaceHolder1_ddlTables"))
        select_element.select_by_value("3")

        submit_button = driver.find_element('id','_ctl0_ContentPlaceHolder1_btnSubmit')  # Replace 'submit_button_id' with the actual ID of the submit button element
        submit_button.click()



        response=driver.page_source

        soup= BeautifulSoup(response,'html.parser' )
        # soup.find('table').find('tbody').find_all('tr', attrs={'valign':"top"})[7].get_text()
        try:
            data=soup.find('table').find('tbody').find_all('tr', attrs={'valign':"top"})

        except:
            continue

        tab1=[]

        for rec in data[8:-1]:
            temp=[]
            for i in rec.find_all('div'):
                temp.append(i.get_text())
            tab1.append(temp)

        # df=pd.DataFrame(tab1)
        # df.to_csv(f"{social}_{district}.csv")

        # all_tables.append(tab1)



# df0=pd.DataFrame(all_tables[0])


# df0.to_csv(f"C:/Users/Admin/Downloads/Scraped _data/{district}_{social}.csv")

# i=0
# for j in range(len(all_tables[20])):
#     df=pd.DataFrame(all_tables[j])

#     df.to_csv(f"C:/Users/Admin/Downloads/Scraped _data/Scheduled Caste/{districts[i]}.csv")
#     i+=1
#     print("done")


#         # df1=pd.DataFrame(tab1)

#         # print(df1)
# # url = driver.current_url



# # driver.get(url)

# # page_source= driver.page_source





# # soup.find('table').find('tbody').find_all('tr', attrs={'valign':"top"})[8].get_text()

In [ ]:
social_groups

['1', '2', '3', '4']

In [ ]:
#Extracting all the different Project details

import requests
from bs4 import BeautifulSoup

response=requests.get("https://prism.serbonline.in/FundingDetails")
soup= BeautifulSoup(response.text,'html.parser')

years = [
    '2023-2024',
    '2022-2023',
    '2021-2022',
    '2020-2021',
    '2019-2020',
    '2018-2019',
    '2017-2018',
    '2016-2017',
    '2015-2016',
    '2014-2015',
    '2013-2014',
    '2012-2013',
    '2011-2012',
    '2010-2011'
]

programs =['-1','32','18','39','24','20','26','40','21','27','29','37','31','48','33','47','25','17','38','36',
          '43','28','11','49','15','16','21','22','44','45','46','12','42','19','13','35','14','34']

from selenium import webdriver

from selenium.webdriver.chrome.service import Service

from selenium.webdriver.support.ui import WebDriverWait

from selenium.webdriver.support import expected_conditions as EC

from bs4 import BeautifulSoup

from selenium.webdriver.support.select import Select

wd = webdriver.Chrome(options=options)
driver =wd

all_tables=[]
for yr in years:
    for prog in programs:


        driver.get('https://prism.serbonline.in/FundingDetails')

        select_element = Select(driver.find_element("id","financial_year"))
        select_element.select_by_value(str(yr))
        # print(yr)
        print(str(prog))
        scheme_select = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.ID, "schemeListSelect"))
        )

        select_element = Select(scheme_select)
        select_element.select_by_value(str(prog))

        select_element = Select(driver.find_element("id","areaListSelect"))
        select_element.select_by_value("All")

        submit_button = driver.find_element('class','submit-button btn-grad mx-auto')  # Replace 'submit_button_id' with the actual ID of the submit button element
        submit_button.click()

# <button type="button" class="submit-button btn-grad mx-auto" onclick="fetchResultBasedOnSelectedValues()"> <i class="fa fa-search"> </i>Search</button>

        response=driver.page_source

        soup= BeautifulSoup(response,'html.parser' )
        # soup.find('table').find('tbody').find_all('tr', attrs={'valign':"top"})[7].get_text()
        try:
            data=soup.find('table').find('tbody').find_all('tr', attrs={'valign':"top"})

        except:
            continue

        tab1=[]

        for rec in data[8:-1]:
            temp=[]
            for i in rec.find_all('div'):
                temp.append(i.get_text())
            tab1.append(temp)

        # df=pd.DataFrame(tab1)
        # df.to_csv(f"{social}_{district}.csv")

-1

NoSuchElementException: ignored

In [ ]:
# Above code is not working due to multiple reasons:-

# 1. The Site is very dynamic, resulting in options of a Drop down not being available to select unless a previous Drop down option has been selected.
# So, the options in Code gives no such element is present error. This was not the case for Census Data site.

# 2. The Submit button has no ID to click. Hence, can't submit the button to actually see the tables.
# This was not the case, as the Tables were shown in same page, for Census Data site.

#3. For some options, there are multiple pages of table, which can't be fetched using this currently.

#4. All Program options are not present for all years, causing some problems of reading blank tables/ no tables.